$base-color: #79D9EE;
.Registration {
  ::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: $base-color;
    
  }
  ::-webkit-scrollbar-track{
    background-color: #000;
  }
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  .body {
    padding: 20px 0 0 40px;
    .title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 61px;
      color: $base-color;
    }
  }
}