$base-color: #79d9ee;

.NavbarHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 200px 0 200px;
  align-items: center;
  background-color: #243047;
  box-shadow: 0px 0px 30px #7097e5;
  height: 100px;
  max-height: 100px;
  .logo {
    img {
      padding-bottom: 20px;
    }
  }
  .user {
    display: flex;
    width: 400px;
    justify-content: space-between;
    .searchButton {
      height: 100%;
      align-items: center;
      img {
        margin: auto 0;
      }
    }
    .avatar {
      width: 50px;
      height: 50px;
      background-color: #f8f8f8;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .userFullName {
      p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #79d9ee;
        margin-left: 10px;
      }
    }
  }
}
