$base-color: #79D9EE;
.Educatoion {
  padding-bottom: 20px;
  .col-md-4 {
    margin-top: 20px;
  }
  .levelLanguage {
    label{
        color: #fff;
        font-family: Montserrat;
        margin-bottom: 5px;
        button {
            width: 100%;
            font-family: Montserrat;
            background-color: $base-color;
            padding: 10px;
            border-radius: 4px;
            border: none;
            color: #fff;
            
          }
    }
  }
}
