* {
  transition: all ease 0.2s;
}

.hideul {
  display: none;
}
.hide {
  flex-direction: column;

  span {
    font-size: 15px;
  }
}
.hideDropD {
  animation: hideDropDown 0.25s ease-in-out forwards;
}
@keyframes hideDropDown {
  100% {
    opacity: 0;
    transform: translateY(-10px);
    height: 0px;
  }
}
.open-down {
  animation: openDropDown 0.25s ease-in-out forwards;
}
@keyframes openDropDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav__closed {
  align-items: center;
  img {
    margin: 0px 5px !important;
  }
}
.side__nav {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  height: 85vh;
  position: relative;
  #active {
    background: #64a3b0;
  }
  .nav__reg {
    padding-top: 74px !important;
    margin-top: 0;
  }
  .nav__button {
    position: absolute;
    right: 10px;
    top: 20px;
    display: flex;
    justify-content: flex-end !important;
    button {
      border: none;
      background: none;
    }
  }

  .nav__element {
    cursor: pointer;
    padding: 20px 20px 0 10px;
    .nav__el__content {
      display: flex;
      align-items: center;
      border-radius: 5px;
      padding: 5px;
      img {
        margin-right: 15px;
      }
    }
    .drop-down {
      ul {
        padding-left: 70px;
        margin: 0 !important;
        Link {
          text-decoration: none;
        }
        list-style: none;
        li::before {
          list-style-type: square;
          content: "\2022";
          padding: 5px;
          color: #64a3b0;
        }
      }
    }
  }
}
