$base-color: #79D9EE;

.TabPage {
  .Agreement,.Finish{
    height: 60vh;
    margin-bottom: 0;
  }
    ul.inline {
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        display: inline-block;
        padding: 10px;
        transition: all 0.5s;
        font-weight: 300;
        cursor: pointer;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
      }


    }
    .tab {
      width: 100%;
      padding: 25px;
      color: #333;
    }
  }