body::-webkit-scrollbar {
  display: none;
}




//! Bootstrap of programmers in Pointer


//*by Musojon
.button-bg{
  background-color: #64A3B0;
}
.button-shadow{
  box-shadow: 0px 6px 12px rgba(33, 188, 160, 0.3);
}
.title-clr{
  color: #79D9EE;
}
