.App {
  .NavbarHeader {
    width: 100%;
    position: fixed;
    z-index: 999;
  }

  .body {
    padding: 150px;
  }

  /*by mirabbos*/
  .base-color {
    color: #64a3b0;
  }
  color: #f8f8f8;
  background: #3f495e;
  .main-body {
    display: flex;
    padding: 90px 50px;
    transition: all 1s ease;
    .side-bar {
      border-right: 1px solid #64a3b0;
    }
    .open-side-bar {
      width: 20%;
    }
    .close-side-bar {
      width: 10%;
    }
    .open-right-body {
      width: 80%;
    }
    .close-right-body {
      width: 90%;
    }
  }

  /*by mirabbos end*/
}
